{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'page_title.game.failed'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'subtitle.game.failed'|trans }}</h2>
    <p>
        {% trans with {'%word%': game.word} %}
            content.game.failed
        {% endtrans %}
    </p>
{% endblock %}
