<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block titile %}Hangman -{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../../../../web/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div id="wrapper">

    {{ include('_includes/header.html.twig') }}

    <div id="page">
        <div id="content">

            {% block content %}{% endblock %}

        </div>

        {{ include('_includes/sidebar.html.twig') }}

        <br class="clearfix" />
    </div>
</div>

</body>
</html>
